@using System.Web.Optimization
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/jquery-3.0.0.js"></script>
    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/jquery-3.3.1.js"></script>
    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/popper.js"></script>
    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/bootstrap.js"></script>
    <script src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Scripts/respond.js"></script>

    <script type="text/javascript" src="@IASData.Utility.ConfigReader.ReferenceSeverUrl/MyScripts/Common.js"></script>

    @RenderSection("Scripts", false)

    <link rel="stylesheet" href="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Content/bootstrap.css" />
    <link href="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    <link href="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Content/FontManaging.css" />
    <link rel="stylesheet" href="@IASData.Utility.ConfigReader.ReferenceSeverUrl/Content/font-awesome.min.css" />

    <title>@ViewBag.Title</title>
</head>
<body>


    @Html.Action("Menubar", "Home", new { area = "" })


    @*@Html.Ation("Index", "Account")*@

    <div id="main" class="container-fluid">
        @RenderBody()
    </div>


</body>
</html>
