@model List<DAL.PersonDrugType>




@foreach (var item in Model)
{

    using (Ajax.BeginForm(
        "EditPersonDrugType",
        "Family",
        new AjaxOptions
        {
            UpdateTargetId = "personMostInfo",
            InsertionMode = InsertionMode.Replace,
            LoadingElementId = "modalProgress",
            OnComplete = "",

        },
         new { enctype = "multipart/form-data" })
        )
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="PersonDrugTypeId" value="@item.PersonDrugTypeId" />
        <input type="hidden" name="PersonId" value="@item.PersonId" />


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">نوع مواد مصرفی</span>
                </div>
                @{
                    var drugTypes = (SelectList)ViewBag.DrugTypeId;

                }
                <select name="DrugTypeId" class="form-control">
                    @foreach (var drugType in drugTypes)
                    {
                        <option value="@drugType.Value" @(drugType.Value == item.DrugTypeId.ToString() ? "selected" : "")>@drugType.Text</option>

                    }
                </select>
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">سال شروع مصرف</span>
                </div>
                @Html.TextBox("DrugStartYear", item.DrugStartYear, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">علت شروع مصرف</span>
                </div>
                @Html.TextBox("DrugStartCause", item.DrugStartCause, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">توضیحات</span>
                </div>
                @Html.TextBox("PersonDrugTypeDesc", item.DrugDesc, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">سال پایان مصرف</span>
                </div>
                @Html.TextBox("DrugStopYear", item.DrugStopYear, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">علت پایان مصرف</span>
                </div>
                @Html.TextBox("DrugStopCause", item.DrugStopCause, new { @class = "form-control" })
            </div>
            <div class="btn btn-group-sm col-md-2 col-sm-12 mb-3">
                @Ajax.ActionLink(" حذف", "RemovePersonDrugType", new { id = item.PersonDrugTypeId }, new AjaxOptions
                {
                    Confirm = "آیا از حذف اطمینان دارید؟",
                    UpdateTargetId = "personMostInfo",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "modalProgress",
                    OnBegin = "",

                }, new { @class = "btn btn-danger btn-sm fa fa-remove" })

                <button class="btn btn-warning btn-sm" type="submit">
                    <span class="fa fa-edit pl-2"></span>اصلاح
                </button>

            </div>
        </div>

    }
}
