@model DAL.Family

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Family</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FamilyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyHealthAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyHealthAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyRentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyRentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMortgageAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMortgageAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyOtherCostAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyOtherCostAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMonthlyExpense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMonthlyExpense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMonthlyIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyPhone1Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyPhone1Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyPhone2Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyPhone2Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyCellPhone1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyCellPhone1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyCellPhone1Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyCellPhone1Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyCellPhone2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyCellPhone2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyCellPhone2Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyCellPhone2Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyZiped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyZiped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyAddressZiped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyAddressZiped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyMemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyMemberCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianRelationTypeDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianRelationTypeDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianCellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianCellPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianAddressZiped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianAddressZiped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentsHaveDifferentNationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentsHaveDifferentNationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentsHaveDifferentEthnic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentsHaveDifferentEthnic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherIsDied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherIsDied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherDiedDateSolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherDiedDateSolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherDiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherDiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherDiedCauseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherDiedCauseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherDiedAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherDiedAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherIsLeavedFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherIsLeavedFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherLeavedFamilyDateSolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherLeavedFamilyDateSolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherLeavedFamilyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherLeavedFamilyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherLeavingHouseCauseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherLeavingHouseCauseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherAddressZiped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherAddressZiped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherIsDied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherIsDied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherDiedDateSolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherDiedDateSolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherDiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherDiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherDiedCauseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherDiedCauseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherDiedAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherDiedAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherIsLeavedFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherIsLeavedFamily)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherLeavedFamilyDateSolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherLeavedFamilyDateSolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherLeavedFamilyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherLeavedFamilyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherLeavingHouseCauseDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherLeavingHouseCauseDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherAddressZiped)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherAddressZiped)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherIsPregnant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherIsPregnant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyIsMigrated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyIsMigrated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigrationYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigrationYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigrationDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigrationDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyHasDomesticViolence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyHasDomesticViolence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyHasDomesticViolenceDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyHasDomesticViolenceDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerSupplyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerSupplyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PowerSupplyDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PowerSupplyDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasMobileSignal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasMobileSignal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasInternetAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasInternetAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegmentDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkingWaterNearlyDistance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkingWaterNearlyDistance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasDrinkingWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasDrinkingWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrinkingWaterDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrinkingWaterDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SewageSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SewageSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SewageSystemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SewageSystemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasteCollectionSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasteCollectionSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasteCollectionSystemDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasteCollectionSystemDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuelTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentialContextId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentialContextId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterSourceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterSourceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alley.AlleyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alley.AlleyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiedCause.DiedCauseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiedCause.DiedCauseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiedCause1.DiedCauseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiedCause1.DiedCauseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyStatus.FamilyStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyStatus.FamilyStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House.Block)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.Block)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseBuildingMaterial.HouseBuildingMaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseBuildingMaterial.HouseBuildingMaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseStatus.HouseStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseStatus.HouseStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingHouseCause.LeavingHouseCauseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingHouseCause.LeavingHouseCauseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavingHouseCause1.LeavingHouseCauseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavingHouseCause1.LeavingHouseCauseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus.MaritalStatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.MaritalStatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MigrationCause.MigrationCauseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MigrationCause.MigrationCauseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Referrer.ReferrerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Referrer.ReferrerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RelationType.RelationTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RelationType.RelationTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceType.ResidenceTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceType.ResidenceTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segment.SegmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segment.SegmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street.StreetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
