@model IEnumerable<DAL.Family>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FamilyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyHealthAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyRentAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMortgageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyOtherCostAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMonthlyExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMonthlyIncome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyPhone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyPhone1Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyPhone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyPhone2Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyCellPhone1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyCellPhone1Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyCellPhone2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyCellPhone2Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyLatitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyLongitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyAddressZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyMemberCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseArea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plaque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianRelationTypeDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianCellPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuardianAddressZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentsHaveDifferentNationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentsHaveDifferentEthnic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherIsDied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherDiedDateSolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherDiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherDiedCauseDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherDiedAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherIsLeavedFamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherLeavedFamilyDateSolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherLeavedFamilyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherLeavingHouseCauseDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherAddressZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherIsDied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherDiedDateSolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherDiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherDiedCauseDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherDiedAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherIsLeavedFamily)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherLeavedFamilyDateSolar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherLeavedFamilyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherLeavingHouseCauseDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherAddressZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotherIsPregnant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyIsMigrated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyHasDomesticViolence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyHasDomesticViolenceDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasGas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPower)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerSupplyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PowerSupplyDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasMobileSignal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasInternetAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegmentDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkingWaterNearlyDistance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasDrinkingWater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrinkingWaterDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SewageSystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SewageSystemDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasteCollectionSystem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WasteCollectionSystemDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidentialContextId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterSourceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alley.AlleyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiedCause.DiedCauseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiedCause1.DiedCauseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyStatus.FamilyStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.House.Block)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseBuildingMaterial.HouseBuildingMaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HouseStatus.HouseStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeavingHouseCause.LeavingHouseCauseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeavingHouseCause1.LeavingHouseCauseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaritalStatus.MaritalStatusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MigrationCause.MigrationCauseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.PersonCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referrer.ReferrerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationType.RelationTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidenceType.ResidenceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segment.SegmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street.StreetName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyHealthAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyRentAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMortgageAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyOtherCostAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMonthlyExpense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMonthlyIncome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyPhone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyPhone1Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyPhone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyPhone2Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCellPhone1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCellPhone1Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCellPhone2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyCellPhone2Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyLatitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyLongitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyAddressZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyMemberCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseArea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plaque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianRelationTypeDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianCellPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuardianAddressZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentsHaveDifferentNationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentsHaveDifferentEthnic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherIsDied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherDiedDateSolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherDiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherDiedCauseDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherDiedAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherIsLeavedFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherLeavedFamilyDateSolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherLeavedFamilyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherLeavingHouseCauseDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FatherAddressZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherIsDied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherDiedDateSolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherDiedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherDiedCauseDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherDiedAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherIsLeavedFamily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherLeavedFamilyDateSolar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherLeavedFamilyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherLeavingHouseCauseDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherAddressZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MotherIsPregnant)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyIsMigrated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyHasDomesticViolence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyHasDomesticViolenceDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasGas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasPower)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerSupplyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PowerSupplyDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasMobileSignal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasInternetAccess)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegmentDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkingWaterNearlyDistance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasDrinkingWater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrinkingWaterDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SewageSystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SewageSystemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasteCollectionSystem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WasteCollectionSystemDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidentialContextId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterSourceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alley.AlleyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiedCause.DiedCauseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiedCause1.DiedCauseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyStatus.FamilyStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House.Block)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseBuildingMaterial.HouseBuildingMaterialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HouseStatus.HouseStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeavingHouseCause.LeavingHouseCauseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeavingHouseCause1.LeavingHouseCauseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatus.MaritalStatusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MigrationCause.MigrationCauseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.PersonCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referrer.ReferrerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationType.RelationTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResidenceType.ResidenceTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segment.SegmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street.StreetName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FamilyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.FamilyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FamilyId })
        </td>
    </tr>
}

</table>
