@model IEnumerable<DAL.Bank>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankSummaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankZiped)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InsertTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateUserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankSummaryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankZiped)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BankId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BankId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BankId })
        </td>
    </tr>
}

</table>
