@model DAL.PersonViewModel
@{

}
@using (Ajax.BeginForm(
    "GetPersons",
    "ManagePerson",
    new AjaxOptions
    {
        UpdateTargetId = "checkPersonResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "",

    },
     new { enctype = "multipart/form-data" })
    )
{
    <input type="hidden" id="familyId" name="FamilyId" value="@ViewBag.FamilyId">

    <div id="createPersonSection">
        <div id="checkPersonSection">
            <div class="row">
                <div class="input-group mb-3 col-md-5">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نمایندگی/ خانه ایرانی/ تیم شناسایی</span>
                    </div>
                    @Html.DropDownListFor(q => q.DepartmentId, null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-1 col-lg-2">
                    <div class="input-group">

                        <label for="IsParent" class="btn btn-warning">
                            سرپرست
                            @Html.CheckBoxFor(Model => Model.IsParent, new { @class = "", @id = "IsParent" })
                            @*<input type="checkbox" data-val="true" id="IsParent" name="IsParent" value="@Model.IsParent" checked="@Model.IsParent" class="badgebox">*@
                            @*<span class="badge bg-white">&check;</span>*@


                        </label>


                    </div>
                </div>
                <div class="input-group col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">موقعیت در خانواده</span>
                    </div>
                    @Html.DropDownList("RelationTypeId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="input-group mb-3 col-md-2">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">ملیت</span>
                    </div>
                    @Html.DropDownListFor(q=>q.NationalityId, null, htmlAttributes: new { @class = "form-control" })
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <fieldset class="border border-success pr-3 pl-3 pt-3 pb-3">
                        <legend class="col-form-label col-sm-7 ml-1" style="width:500px;">1. براساس مشخصات فرد</legend>
                        <fieldset class="border border-warning" id="secNationalCode">
                            <legend class="col-form-label col-sm-5 ml-1" style="width:500px;">براساس کدملی</legend>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">کد ملی</span>
                                </div>
                                <input type="text" class="form-control" maxlength="10" id="nationalCode" name="PersonNationalCode">
                            </div>
                        </fieldset>
                        <fieldset class="border border-warning">
                            <legend class="col-form-label col-sm-7 ml-1" style="width:600px;">براساس نام  و نام خانوادگی</legend>

                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">نام</span>
                                </div>
                                <input type="text" class="form-control" id="firstName" name="PersonFirstName">
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">نام خانوادگی</span>
                                </div>
                                <input type="text" class="form-control" id="lastName" name="PersonLastName">
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">نام پدر</span>
                                </div>
                                <input type="text" class="form-control" id="fatherName" name="PersonFatherName">
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">نام مادر</span>
                                </div>
                                <input type="text" class="form-control" id="motherName" name="PersonMotherName">
                            </div>

                        </fieldset>
                    </fieldset>
                </div>
                @if (ViewBag.FamilyId == 0 || ViewBag.FamilyId == null)
                {
                    <div class="col-md-6">
                        <fieldset class="border border-success pr-3 pl-3 pt-3 pb-3">
                            <legend class="col-form-label col-sm-7 ml-1" style="width:500px;">2. براساس محله</legend>

                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">استان</span>
                                </div>
                                @Html.DropDownList("ProvinceId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">شهر</span>
                                </div>
                                @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">منطقه</span>
                                </div>
                                @Html.DropDownList("RegionId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="input-group col-md-12 mb-3">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">محله</span>
                                </div>
                                @Html.DropDownList("SegmentId", null, htmlAttributes: new { @class = "form-control" })
                            </div>

                        </fieldset>
                    </div>
                }
            </div>
            <div class=" text-left">
                <div>
                    <a class="btn btn-warning" href="#" data-dismiss="modal" aria-label="Close">
                        <span class="fa fa-undo ml-3"></span>بازگشت
                    </a>
                    <button class="btn btn-info" type="submit">
                        جستجو   <span class="fa fa-search"></span>
                    </button>


                </div>
            </div>

            <div class="" id="checkPersonResult">

            </div>
        </div>


    </div>
}
<div class="" id="CreateSimplePerson">

</div>
<script>
    $(document).ready(function () {
        setNationalityRelated();

        $("#createPersonSection #NationalityId").change(function () {
            setNationalityRelated();
        });

        $("#createPersonSection #ProvinceId").change(function () {
            var nID = $("#createPersonSection #ProvinceId").val();
            var targetControl = $("#createPersonSection #CityId");
            selectProvince(nID, targetControl);
        });

        $("#createPersonSection #CityId").change(function () {
            var nID = $("#createPersonSection #CityId").val();
            var targetControl = $("#createPersonSection #RegionId");
            selectCity(nID, targetControl);
        });

        $("#createPersonSection #RegionId").change(function () {
            var nID = $("#createPersonSection #RegionId").val();
            var targetControl = $("#createPersonSection #SegmentId");
            selectRegion(nID, targetControl);
        });

    });
    function setNationalityRelated() {
        debugger;
        if ($("#createPersonSection #NationalityId").val() == "1") {
            $("#createPersonSection #secNationalCode").show(500);
        }
        else {
            $("#createPersonSection #secNationalCode").hide(500);
            $("#createPersonSection #nationalCode").val("");
        }
        //$.ajax({
        //    url: "/ManagePerson/CheckPerson",
        //    type: "GET"
        //}).done(function (result) {
        //    $('#ModalTitle').text('ایجاد');
        //    $('#ModalBody').html(result);
        //    $('#myModal').modal({ backdrop: 'static', keyboard: false });
        //});
    }

    function getPersons() {
        debugger;

        $.ajax({
            url: "../ManagePerson/GetPersons",
            type: "POST",
            data: {
                "NationalityId": $("#NationalityId").val(),
                "PersonNationalCode": $("#nationalCode").val(),
                "PersonFirstName": $("#firstName").val(),
                "PersonLastName": $("#lastName").val(),
                "PersonFatherName": $("#fatherName").val(),
                "PersonMotherName": $("#motherName").val(),
            },
        }).done(function (result) {

            $('#checkPersonResult').show(500);
            $('#checkPersonResult').html(result);
            if (($("#nationalCode").val() != "") ||
                (
                    ($("#firstName").val() != "") &&
                    ($("#lastName").val() != "") &&
                    ($("#fatherName").val() != "") &&
                    ($("#motherName").val() != "")
                )
            ) {
                if ($("#nationalCode").val() != "" && $("#checkPersonResult .card").length >= 1) { $("#continue").hide(500) }
                else
                    $("#continue").show(500);
            }

        });
    }


</script>
