@model IEnumerable<DAL.FamilyViewModel>
@{

    List<DAL.DepartmentViewModel> Departments = ViewBag.Departments;
    DAL.FamilySearchViewModel searchViewModel = ViewBag.SearchModel;
    int i = 0;
    int pageSize = 20;
}

<div>
    <input type="hidden" id="uploadFileError" value="@ViewBag.UploadFileError" />
    <input type="hidden" id="selectedPersonId" value="@ViewBag.SelectedPersonId" />
    @if (Departments != null)
    {
        <ul class="nav nav-tabs bg-light" id="myTab" role="tablist">
            @foreach (var item in Departments.OrderBy(q => q.DepartmentCode))
            {
                string action = "PersonIndex?tabId=" + item.DepartmentId;
                <li class="nav-item">

                    @Ajax.ActionLink(
                                                                                           item.DepartmentName,
                                                                                           "Search",
                                                                                           new
                                                                                           {
                                                                                               DepartmentId = searchViewModel.DepartmentId,
                                                                                               NationalityId = searchViewModel.NationalityId,
                                                                                               EthnicId = searchViewModel.EthnicId,
                                                                                               PersonFirstName = searchViewModel.PersonFirstName,
                                                                                               PersonLastName = searchViewModel.PersonLastName,
                                                                                               PersonFatherName = searchViewModel.PersonFatherName,
                                                                                               PersonMotherName = searchViewModel.PersonMotherName,
                                                                                               PersonBirthYearFrom = searchViewModel.PersonBirthYearFrom,
                                                                                               PersonBirthYearTo = searchViewModel.PersonBirthYearTo,
                                                                                               MaritalStatusId = searchViewModel.MaritalStatusId,
                                                                                               PersonStatusId = searchViewModel.PersonStatusId,
                                                                                               GenderId = searchViewModel.GenderId,
                                                                                               RelationTypeId = searchViewModel.RelationTypeId,
                                                                                               PersonNationalCode = searchViewModel.PersonNationalCode,
                                                                                               //PersonCoveredDateSolar = searchViewModel.PersonCoveredDateSolar,
                                                                                               tabId = item.DepartmentId,
                                                                                           },
                                                                                           new AjaxOptions
                                                                                           {
                                                                                               UpdateTargetId = "SearchFamilyResult",
                                                                                               InsertionMode = InsertionMode.Replace,
                                                                                               LoadingElementId = "searchProgress",
                                                                                               OnComplete = "",

                                                                                           },
                                                                                           new
                                                                                           {
                                                                                               @class = "nav-link " + (item.DepartmentId == ViewBag.TabID ? "active" : ""),
                                                                                               id = "dep" + item.DepartmentId,
                                                                                               aria_controls = "home",
                                                                                               aria_selected = "true"
                                                                                           }
                                                                                       )

                </li>


                i++;
            }
            @{i = 0;}
        </ul>
        <div class="tab-content" id="myTabContent">

            @foreach (var item in Departments.OrderBy(q => q.DepartmentCode))
            {
                int pageCount = ViewBag.PageCount;
                int rowIndex = (pageSize * ViewBag.PageID) + 1;

                <div class="tab-pane fade @(item.DepartmentId == ViewBag.TabID ? "show active" : "")" id="dep-@i" role="tabpanel" aria-labelledby="dep-tab-@i">
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width:3%" />
                            <col style="width:3%" />
                            <col style="width:15%" />
                            <col />
                            <col style="width:10%" />
                        </colgroup>
                        <thead class="bg-primary">
                            <tr>
                                <th colspan="5" class="bg-light" style="text-align:center">
                                    @for (int page = 0; page < pageCount; page++)
                                    {
                                        int pageNo = page + 1;
                                        string action = "PersonIndex?pageId=" + page + "&tabId=" + ViewBag.TabID;
                                        string cssClass = (page == ViewBag.PageID ? "active" : "");

                                        @Ajax.ActionLink(
                                                                                                                                pageNo.ToString(),
                                                                                                                                "Search",
                                                                                                                                new
                                                                                                                                {
                                                                                                                                    DepartmentId = searchViewModel.DepartmentId,
                                                                                                                                    NationalityId = searchViewModel.NationalityId,
                                                                                                                                    EthnicId = searchViewModel.EthnicId,
                                                                                                                                    PersonFirstName = searchViewModel.PersonFirstName,
                                                                                                                                    PersonLastName = searchViewModel.PersonLastName,
                                                                                                                                    PersonFatherName = searchViewModel.PersonFatherName,
                                                                                                                                    PersonMotherName = searchViewModel.PersonMotherName,
                                                                                                                                    PersonBirthYearFrom = searchViewModel.PersonBirthYearFrom,
                                                                                                                                    PersonBirthYearTo = searchViewModel.PersonBirthYearTo,
                                                                                                                                    MaritalStatusId = searchViewModel.MaritalStatusId,
                                                                                                                                    PersonStatusId = searchViewModel.PersonStatusId,
                                                                                                                                    GenderId = searchViewModel.GenderId,
                                                                                                                                    RelationTypeId = searchViewModel.RelationTypeId,
                                                                                                                                    PersonNationalCode = searchViewModel.PersonNationalCode,
                                                                                                                                    //PersonCoveredDateSolar = searchViewModel.PersonCoveredDateSolar,
                                                                                                                                    tabId = item.DepartmentId,
                                                                                                                                    pageId = pageNo - 1
                                                                                                                                },
                                                                                                                                new AjaxOptions
                                                                                                                                {
                                                                                                                                    UpdateTargetId = "SearchFamilyResult",
                                                                                                                                    InsertionMode = InsertionMode.Replace,
                                                                                                                                    LoadingElementId = "searchProgress",
                                                                                                                                    OnComplete = "activeTab(" + pageNo + ", " + pageCount + "," + item.DepartmentId + ")",
                                                                                                                                },
                                                                                                                                new
                                                                                                                                {
                                                                                                                                    @class = "btn btn-warning btn-outline-warning btn-sm",
                                                                                                                                    id = "dep-tab-" + pageNo--,
                                                                                                                                    aria_controls = " home",
                                                                                                                                    aria_selected = "true"
                                                                                                                                }
                                                                                                               )
                                        @*<a class="btn btn-warning btn-outline-warning btn-sm @cssClass" id="dep-tab-@i" href="../ManagePerson/@action" aria-controls=" home" aria-selected="true">@pageNo</a>*@
                                    }
                                </th>
                            </tr>
                            <tr>
                                <th scope="col" colspan="2">ردیف</th>
                                <th scope="col">
                                    اطلاعات خانواده

                                </th>
                                <th scope="col">نشانی</th>
                                <th scope="col">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var family in Model.Where(q => q.DepartmentId == item.DepartmentId))
                            {
                                <tr class="@(rowIndex%2==0?"bg-light":"")">
                                    <td>
                                        @rowIndex
                                    </td>
                                    <td>
                                        <span class="badge badge-pill badge-success" id="plus-@rowIndex" style="cursor:pointer;" onclick="showMembersSection(@i,@rowIndex);"><span class="fa fa-plus"></span></span>
                                        <span class="badge badge-pill badge-success" id="minus-@rowIndex" style="display:none;cursor:pointer;" onclick="hideMembersSection(@i,@rowIndex);"><span class="fa fa-minus"></span></span>
                                    </td>

                                    <td>
                                        <table class="table table-bordered">
                                            <tr>
                                                <td colspan="2">
                                                    <div>
                                                        @family.SupervisorName
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">
                                                    <span class="badge badge-pill badge-info" style="cursor:pointer;">@family.MembersCount</span>
                                                </td>
                                                <td width="80%">
                                                    <span class="badge badge-pill badge-danger">@family.FamilyCode</span>
                                                </td>
                                            </tr>
                                        </table>

                                    </td>

                                    <td>@family.FamilyAddress</td>

                                    <td>
                                        @Ajax.ActionLink("تکمیل اطلاعات خانواده", "FamilyIndex", "Family", new { id = family.FamilyId }, new AjaxOptions
                                        {
                                            UpdateTargetId = "ModalBody",
                                            InsertionMode = InsertionMode.Replace,
                                            LoadingElementId = "modalProgress",
                                            OnBegin = "showFamilyInfoSection",

                                        }, new { @class = "btn btn-info btn-sm" })

                                        @*<a class="btn btn-info btn-sm" href="#" onclick="showFamilyInfoSection(@family.FamilyId);">
                                                <span class="fa fa-home ml-3"></span>تکمیل اطلاعات خانواده
                                            </a>*@
                                    </td>

                                </tr>

                                <tr id="tr-@rowIndex" style="display:none">

                                    <td colspan="5">

                                        @Html.Action("GetPersonsByFamilyId", new { familyId = family.FamilyId })

                                    </td>
                                </tr>
                                rowIndex++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="bg-light" style="text-align:center">
                                    @for (int page = 0; page < pageCount; page++)
                                    {
                                        int pageNo = page + 1;
                                        string action = "PersonIndex?pageId=" + page + "&tabId=" + ViewBag.TabID;
                                        string cssClass = (page == ViewBag.PageID ? "active" : "");
                                        @Ajax.ActionLink(
                                                                                                     pageNo.ToString(),
                                                                                                     "Search",
                                                                                                     new
                                                                                                     {
                                                                                                         DepartmentId = searchViewModel.DepartmentId,
                                                                                                         NationalityId = searchViewModel.NationalityId,
                                                                                                         EthnicId = searchViewModel.EthnicId,
                                                                                                         PersonFirstName = searchViewModel.PersonFirstName,
                                                                                                         PersonLastName = searchViewModel.PersonLastName,
                                                                                                         PersonFatherName = searchViewModel.PersonFatherName,
                                                                                                         PersonMotherName = searchViewModel.PersonMotherName,
                                                                                                         PersonBirthYearFrom = searchViewModel.PersonBirthYearFrom,
                                                                                                         PersonBirthYearTo = searchViewModel.PersonBirthYearTo,
                                                                                                         MaritalStatusId = searchViewModel.MaritalStatusId,
                                                                                                         PersonStatusId = searchViewModel.PersonStatusId,
                                                                                                         GenderId = searchViewModel.GenderId,
                                                                                                         RelationTypeId = searchViewModel.RelationTypeId,
                                                                                                         PersonNationalCode = searchViewModel.PersonNationalCode,
                                                                                                         //PersonCoveredDateSolar = searchViewModel.PersonCoveredDateSolar,
                                                                                                         tabId = item.DepartmentId,
                                                                                                         pageId = pageNo - 1
                                                                                                     },
                                                                                                     new AjaxOptions
                                                                                                     {
                                                                                                         UpdateTargetId = "SearchFamilyResult",
                                                                                                         InsertionMode = InsertionMode.Replace,
                                                                                                         LoadingElementId = "searchProgress",
                                                                                                         OnComplete = "activeTab(" + pageNo + ", " + pageCount + "," + item.DepartmentId + ")",
                                                                                                     },
                                                                                                     new
                                                                                                     {
                                                                                                         @class = "btn btn-warning btn-outline-warning btn-sm",
                                                                                                         id = "dep-tab-" + pageNo--,
                                                                                                         aria_controls = " home",
                                                                                                         aria_selected = "true"
                                                                                                     }
                                                                                    )
                                    }
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                i++;
            }

        </div>
    }
</div>
<script>
    function activeTab(tabId, lenght, depId) {
        debugger;
        for (i = 0; i <= lenght; i++) {
            if (i === tabId) {
                $("#dep-tab-" + i).each().removeAttr("class");
                $("#dep-tab-" + i).each().attr("class", "btn btn-warning btn-outline-warning btn-sm active");
            }     
            else {
                $("#dep-tab-" + i).each().removeAttr("class");
                $("#dep-tab-" + i).each().attr("class", "btn btn-warning btn-outline-warning btn-sm");
            }
        }
    }
</script>