@model DAL.PersonViewModel

@using (Ajax.BeginForm(
    "CreatePerson",
    "ManagePerson",
    new { },
    new AjaxOptions
    {
        UpdateTargetId = "createSimplePersonResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "",
        OnSuccess = "",
        OnFailure = "",

    },
    null// new { enctype = "multipart/form-data" }
    ))
{
    <input type="hidden" name="FamilyId" value="@ViewBag.FamilyId" />

    <div id="createSimplePersonSection">
        <input type="hidden" name="NationalityId" value="@ViewBag.SelectedNationalityId" />
        <input type="hidden" name="DepartmentId" value="@ViewBag.SelectedDepartmentId" />
        <input type="hidden" name="RelationTypeId" value="@ViewBag.SelectedRelationTypeId" />
        <div class="row ">
            <div class="alert alert-warning fade show" role="alert">
                <strong>خانه ایرانی: </strong> @ViewBag.DepartmentName

            </div>
            <div class="alert alert-warning fade show" role="alert">
                <strong>موقعیت در خانواده: </strong> @ViewBag.RelationTypeName

            </div>
            @if ( ViewBag.SelectedGenderId != 0)
            {
                <input type="hidden" name="GenderId" value="@ViewBag.SelectedGenderId" />
                <div class="alert alert-warning fade show" role="alert" id="nationalCode">
                    <strong>جنسیت: </strong> @ViewBag.GenderName
                </div>
            }
            <div class="alert alert-warning fade show" role="alert">
                <strong>ملیت: </strong> @ViewBag.NationalityName

            </div>
            @if (ViewBag.SelectedSegmentId != 0)
            {
                <input type="hidden" name="SegmentId" value="@ViewBag.SelectedSegmentId" />
                <div class="alert alert-warning fade show" role="alert" id="nationalCode">
                    <strong>محله: </strong> @ViewBag.SegmentName
                </div>
            }
            @if (!string.IsNullOrEmpty(ViewBag.NationalCode))
            {
                <input type="hidden" name="PersonNationalCode" value="@ViewBag.NationalCode" />
                <div class="alert alert-warning fade show" role="alert" id="nationalCode">
                    <strong>کد ملی: </strong> @ViewBag.NationalCode
                </div>
            }

            @if (!string.IsNullOrEmpty(ViewBag.FirstName))
            {
                <input type="hidden" name="PersonFirstName" id="PersonFirstName" value="@ViewBag.FirstName" />
                <div class="alert alert-warning fade show" role="alert" id="firstName">
                    <strong>نام: </strong> @ViewBag.FirstName

                </div>}

            @if (!string.IsNullOrEmpty(ViewBag.LastName))
            {
                <input type="hidden" name="PersonLastName" value="@ViewBag.LastName" />
                <div class="alert alert-warning fade show" role="alert" id="lastName">
                    <strong>نام خانوادگی: </strong> @ViewBag.LastName

                </div>}

            @if (!string.IsNullOrEmpty(ViewBag.FatherName))
            {
                <input type="hidden" name="PersonFatherName" value="@ViewBag.FatherName" />
                <div class="alert alert-warning fade show" role="alert" id="fatherName">
                    <strong>نام پدر: </strong> @ViewBag.FatherName

                </div>}

            @if (!string.IsNullOrEmpty(ViewBag.MotherName))
            {
                <input type="hidden" name="PersonMotherName" value="@ViewBag.MotherName" />
                <div class="alert alert-warning fade show" role="alert" id="motherName">
                    <strong>نام مادر: </strong> @ViewBag.MotherName

                </div>
            }


        </div>
        <div class="row form-group" id="">
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ شناسایی</span>
                </div>
                @*@Html.EditorFor(model => model.PersonFilingDateSolar, new { htmlAttributes = new { @class = "form-control" } })*@

                <input type="text" class="form-control" name="PersonFilingDateSolar" value="@DateTime.Now.ToDateSolar()" id="PersonFilingDateSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonFilingDateSolar"
                       data-trigger="click" />
                <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonFilingDateSolar"
                     data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                </div>

            </div>
            <div class="input-group col-md-3  col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">افراد تیم شناسایی</span>
                </div>
                <input type="text" class="form-control" placeholder="" id="PersonFilingName">
            </div>
            <div class="input-group col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">وضعیت حمایتی</span>
                </div>
                @Html.DropDownList("PersonStatusId", null, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ شروع حمایت</span>
                </div>
                <input type="text" class="form-control" id="PersonCoveredDateSolar" name="PersonCoveredDateSolar" value="" placeholder="" data-trigger="click" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonCoveredDateSolar" />
                <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonCoveredDateSolar"
                     data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                    <span class="input-group-text" id="basic-addon2">    <span class="fa fa-calendar"></span></span>
                </div>
            </div>
            <div class="input-group col-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">شرح شناسایی</span>
                </div>
                <input type="text" class="form-control" placeholder="" name="PersonCoveredDesc">
            </div>
        </div>
        <div class="row" id="secPerson">
            @if ( ViewBag.SelectedGenderId == 0)
            {
                <div class="input-group col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">جنسیت</span>
                    </div>
                    @Html.DropDownList("GenderId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            }
            @if (string.IsNullOrEmpty(ViewBag.FirstName))
            {
                <div class="input-group col-md-3  col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نام</span>
                    </div>
                    <input type="text" class="form-control" placeholder="نام را وارد کنید" id="firstName" name="PersonFirstName" value="@ViewBag.FirstName">
                </div>
            }
            @if (string.IsNullOrEmpty(ViewBag.LastName))
            {
                <div class="input-group col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نام خانوادگی</span>
                    </div>
                    <input type="text" class="form-control" placeholder="نام خانوادگی را وارد کنید" id="lastName" name="PersonLastName">
                </div>
            }
            @if (string.IsNullOrEmpty(ViewBag.FatherName))
            {
                <div class="input-group col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نام پدر</span>
                    </div>
                    <input type="text" class="form-control" placeholder="نام پدر را وارد کنید" id="fatherName" name="PersonFatherName">
                </div>
            }
            @if (string.IsNullOrEmpty(ViewBag.MotherName))
            {
                <div class="input-group col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نام مادر</span>
                    </div>
                    <input type="text" class="form-control" placeholder="نام مادر را وارد کنید" id="motherName" name="PersonMotherName">
                </div>
            }
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ تولد</span>
                </div>
                @Html.EditorFor(model => model.PersonBirthDay, new { htmlAttributes = new { @class = "form-control", @placeholder = "روز" } })
                @Html.EditorFor(model => model.PersonBirthMonth, new { htmlAttributes = new { @class = "form-control", @placeholder = "ماه" } })
                @Html.EditorFor(model => model.PersonBirthYear, new { htmlAttributes = new { @class = "form-control ", @placeholder = "سال (4رقم)", } })
            </div>
            @if ( ViewBag.SelectedNationalityId == 1)
            {
                <div class="input-group  col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">کدملی</span>
                    </div>
                    <input type="text" class="form-control" placeholder="کد ملی را وارد کنید" id="nationalCode" name="PersonNationalCode">

                </div>
                <div class="input-group  col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2"> شماره شناسنامه</span>
                    </div>
                    <input type="text" class="form-control" placeholder=" شماره شناسنامه را وارد کنید" id="identityNo" name="PersonIdentityNo">

                </div>

            }
            <div class="input-group col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">وضعیت تاهل</span>
                </div>
                @Html.DropDownList("MaritalStatusId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="input-group col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">قومیت</span>
                </div>
                @Html.DropDownList("EthnicId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="input-group col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">دین</span>
                </div>
                @Html.DropDownList("BeliveId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="input-group col-md-3 col-sm-12 mb-3" id="ReligionSection">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">مذهب</span>
                </div>
                @Html.DropDownList("ReligionId", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="input-group col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">مدت مهاجرت</span>
                </div>
                @Html.EditorFor(Model => Model.MigrateDuration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MigrateDuration, "", new { @class = "text-danger" })
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">ماه</span>
                </div>
            </div>
           

        </div>
        <div class=" text-left">
            <div>

                <a class="btn btn-warning" href="#" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-undo ml-3"></span>بازگشت
                </a>

                <button type="submit" class="btn btn-success">
                    <span class="fa fa-plus ml-3"></span>ثبت
                </button>

            </div>
        </div>
    </div>
    <div class="" id="createSimplePersonResult">

    </div>
    if (ViewBag.FamilyId != null)
    {
        @Html.Action("GetPersonsByFamilyId", new { familyId = ViewBag.FamilyId });
    }

}

<script src="~/Scripts/MdBootstrapPersianDateTimePicker/jalaaliNew.js"></script>
<script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePickerNew.js"></script>

<script>
    $(document).ready(function () {
        var nID = $("#createSimplePersonSection #NationalityId").val();
        var control = $("#createSimplePersonSection #EthnicId");
        selectNationality(nID, control);

        $("#createSimplePersonSection #NationalityId").change(function () {
            var nID = $("#createSimplePersonSection #NationalityId").val();
            var control = $("#createSimplePersonSection #EthnicId");
            selectNationality(nID, control);
        });

        $("#Departments").change(function () {
            selectDepartments();
        });

        $("#Belives").change(function () {
            if ($("#Belives").val() == 1)
                $("#ReligionSection").show(500);
            else
                $("#ReligionSection").hide(500);

        });
    });
    function backToCheckPerson() {
        debugger;
        $('#checkPersonSection').show(500);
        $('#CreateSimplePerson').hide(500);

    }
    //function selectNationality() {
    //    debugger;
    //    $.getJSON("../Loockup/LoadEthnicsByNationalityId", { id: nID },
    //        function (data) {
    //            select.empty();
    //            select.append($('<option/>', {
    //                value: 0,
    //                text: ""
    //            }));

    //            $.each(data, function (index, itemData) {
    //                if ($('#EthnicId').val() != itemData.Value) {
    //                    select.append($('<option></option>', {
    //                        value: itemData.Value,
    //                        text: itemData.Text
    //                    }));
    //                }

    //            });

    //        });
    //}


    function selectDepartments() {
    }


</script>