
@model DAL.PersonViewModel

@*@using (Html.BeginForm("SaveProfilePic", "ManagePerson", new { id = Model.PersonId }, FormMethod.Post, new { enctype = "multipart/form-data" }))*@
@using (Ajax.BeginForm(
    "RemoveMember",
    "ManagePerson",
    new { id = Model.PersonId },
    new AjaxOptions
    {
        UpdateTargetId = "uploadResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "updateProfilePic",

    },
     new { enctype = "multipart/form-data" })
    )
{
    <input type="hidden" id="personId" name="personId" value="@Model.PersonId" />
    <input type="hidden" id="RelationTypeId" name="RelationTypeId" value="@Model.RelationTypeId" />

    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="alert alert-warning fade show" role="alert">
                <strong>شماره پرونده: </strong> @Model.PersonCode
            </div>
            <div class="alert alert-warning fade show" role="alert">
                <strong>نام و نام خانوادگی: </strong> @Model.PersonFirstName @Model.PersonLastName
            </div>
            <div class="alert alert-warning fade show" role="alert">
                <strong>نام پدر: </strong> @Model.PersonFatherName
            </div>
        </div>
        <div class="row">
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">علت</span>
                </div>
                @Html.DropDownListFor(Model => Model.ExpireCauseId, null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ExpireCauseId, "", new { @class = "text-danger" })
            </div>

        </div>
        <div id="uploadResult">

        </div>
        <div class=" text-left">
            <div>

                <a class="btn btn-warning" href="#" data-dismiss="modal" aria-label="Close">
                    <span class="fa fa-undo ml-3"></span>بازگشت
                </a>
                <input type="submit" class="btn btn-success" value="ثبت" />



            </div>
        </div>
    </div>

}

