@model DAL.FamilyViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Ajax.BeginForm(
    "EditMotherInfo",
    "Family",
    new { id = Model.FamilyId },
    new AjaxOptions
    {
        UpdateTargetId = "editMotherInfoResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "",

    },
     new { enctype = "multipart/form-data" })
    )
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FamilyId)
    <div class="row form-group">
        <div class="col-12">
            <div class=" col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="input-group">

                    <label for="MotherIsDied" class="btn btn-warning">
                        فوت کرده
                        @Html.CheckBoxFor(Model => Model.MotherIsDied, new { @class = "", @id = "MotherIsDied" })

                    </label>


                </div>
            </div>
            <div id="MotherDiedSection" class="row">
                <div class="input-group  col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">تاریخ فوت</span>
                    </div>
                    @*@Html.EditorFor(model => model.MotherDiedDateSolar, new { htmlAttributes = new { @class = "form-control" } })*@

                    <input type="text" class="form-control" name="MotherDiedDateSolar" value="@Model.MotherDiedDateSolar" id="MotherDiedDateSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#MotherDiedDateSolar"
                           data-trigger="click" />
                    <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#MotherDiedDateSolar"
                         data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                        <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.MotherDiedDateSolar, "", new { @class = "text-danger" })

                </div>
                <div class="input-group  col-md-6 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">علت فوت</span>
                    </div>
                    @Html.DropDownList("MotherDiedCauseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.EditorFor(model => model.MotherDiedCauseDesc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MotherDiedCauseId, "", new { @class = "text-danger" })
                </div>
                <div class="input-group  col-md-2 col-sm-12 mb-3">
                    <div class="input-group-append">
                        @Html.LabelFor(model => model.MotherDiedAge, htmlAttributes: new { @class = "input-group-text" })
                    </div>
                    @Html.EditorFor(model => model.MotherDiedAge, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MotherDiedAge, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class=" col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <div class="input-group">
                    <label for="MotherIsLeavedFamily" class="btn btn-warning">
                        ترک خانواده
                        @Html.CheckBoxFor(Model => Model.MotherIsLeavedFamily, new { @class = "", @id = "MotherIsLeavedFamily" })

                    </label>
                </div>
            </div>
            <div id="MotherLeavedSection" class="row">

                <div class="input-group  col-md-3 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">تاریخ ترک خانواده</span>
                    </div>
                    @*@Html.EditorFor(model => model.MotherLeavedFamilyDateSolar, new { htmlAttributes = new { @class = "form-control" } })*@

                    <input type="text" class="form-control" name="MotherLeavedFamilyDateSolar" value="@Model.MotherLeavedFamilyDateSolar" id="MotherLeavedFamilyDateSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#MotherLeavedFamilyDateSolar"
                           data-trigger="click" />
                    <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#MotherLeavedFamilyDateSolar"
                         data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                        <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.MotherLeavedFamilyDateSolar, "", new { @class = "text-danger" })

                </div>
                <div class="input-group  col-md-6 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">علت ترک خانواده</span>
                    </div>
                    @Html.DropDownList("MotherLeavingHouseCauseId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.EditorFor(model => model.MotherLeavingHouseCauseDesc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MotherLeavingHouseCauseId, "", new { @class = "text-danger" })
                </div>
                <div class="input-group  col-md-12 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">نشانی محل زندگی مادر</span>
                    </div>
                    @Html.EditorFor(model => model.MotherAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MotherAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class=" text-left">
        <div >

            <a class="btn btn-warning" href="#" data-dismiss="modal" aria-label="Close">
                <span class="fa fa-undo ml-3"></span>بازگشت
            </a>


            <button class="btn btn-success" type="submit">
                <span class="fa fa-edit ml-3"></span>ثبت
            </button>

        </div>
    </div>
    <div class="" id="editMotherInfoResult">

    </div>
}

<script src="~/Scripts/MdBootstrapPersianDateTimePicker/jalaaliNew.js"></script>
<script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePickerNew.js"></script>
<script>
    $(document).ready(function () {
        setMotherIsDiedRelated();
        setMotherIsLeavedRelated();

        $("#MotherIsDied").change(function () {
            setMotherIsDiedRelated();
        });

        $("#MotherIsLeavedFamily").change(function () {
            setMotherIsLeavedRelated();
        });
    });

    function setMotherIsDiedRelated() {
        debugger;
        if ($("#MotherIsDied").prop('checked') == true) {
            $("#MotherDiedSection").show(500);
        }
        else {
            $("#MotherDiedSection").hide(500);
            //$("#nationalCode").val("");
        }
    }

    function setMotherIsLeavedRelated() {
        debugger;
        if ($("#MotherIsLeavedFamily").prop('checked') == true) {
            $("#MotherLeavedSection").show(500);
        }
        else {
            $("#MotherLeavedSection").hide(500);
            //$("#nationalCode").val("");
        }
    }
</script>