@model List<DAL.PersonIdentityDocument>




@using (Ajax.BeginForm(
    "CreatePersonIdentityDocument",
    "Family",
    new AjaxOptions
    {
        UpdateTargetId = "personMostInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "",

    },
     new { enctype = "multipart/form-data" })
    )
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="PersonId" value="@ViewBag.PersonId" />

    <fieldset class="border border-primary pr-3">
        <legend class="col-form-label col-sm-2 ml-1" style="width:100px;">ایجاد</legend>
        <div class="row">
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">نوع مدرک</span>
                </div>
                @Html.DropDownList("IdentityDocumentId", null, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-2 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">کد</span>
                </div>
                @Html.TextBox("IdentityDocumentCode", null, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">شماره سریال</span>
                </div>
                @Html.TextBox("IdentityDocumentSerialNo", null, new { @class = "form-control" })
            </div>  
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ انقضا</span>
                </div>

                <input type="text" class="form-control" name="ExpireTimeSolar" id="ExpireTimeSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#ExpireTimeSolar"
                       data-trigger="click" />
                <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#ExpireTimeSolar"
                     data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                </div>

            </div>


            <div class="input-group  col-md-9 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">توضیحات</span>
                </div>
                @Html.TextArea("PersonIdentityDocumentDesc", null, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-3 col-sm-12 mb-3">
                <img id="imgPreviewPerson" style="margin: 8px auto;width:150px;height:150PX;" class="thumbnail" src="@IASData.Utility.Constants.AttachmentServiceUrl/nopic.jpg" />
                <div class="form-group">

                    <div class="col-md-10">
                        <input type="file" id="IdentityDocumentPic" name="IdentityDocumentPic" />

                    </div>
                </div>
            </div>
            <div>

                <button class="btn btn-success btn-sm" type="submit">
                    <span class="fa fa-edit ml-3"></span>ثبت
                </button>

            </div>
        </div>
    </fieldset>

}

