@model List<DAL.PersonTeam>
@{
    DAL.SkillType skillType = (DAL.SkillType)ViewBag.SkillType;

}



@using (Ajax.BeginForm(
    "CreatePersonTeam",
    "PersonTeam",
    new AjaxOptions
    {
        UpdateTargetId = "personMostInfo",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "modalProgress",
        OnComplete = "",

    },
     new { enctype = "multipart/form-data" })
    )
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" name="PersonId" value="@ViewBag.PersonId" />

    <fieldset class="border border-primary pr-3">
        <legend class="col-form-label col-sm-2 ml-1" style="width:100px;">ایجاد</legend>
        <div class="row">
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">تیم</span>
                </div>
                @Html.DropDownList("DepartmentTeamId", null, new { @class = "form-control" })
            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ ورود به تیم</span>
                </div>

                <input type="text" class="form-control" name="PersonEnterToTeamDateSolar" id="PersonEnterToTeamDateSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonEnterToTeamDateSolar"
                       data-trigger="click" />
                <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonEnterToTeamDateSolar"
                     data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                </div>

            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">تاریخ خروج از تیم</span>
                </div>

                <input type="text" class="form-control" name="PersonExitFromTeamDateSolar" id="PersonExitFromTeamDateSolar" placeholder="" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonExitFromTeamDateSolar"
                       data-trigger="click" />
                <div class="input-group-append" data-name="datepicker1" data-mddatetimepicker="true" data-targetselector="#PersonExitFromTeamDateSolar"
                     data-trigger="click" data-enabletimepicker="false" data-isgregorian="false" data-englishnumber="false">
                    <span class="input-group-text" id="basic-addon2"><span class="fa fa-calendar"></span></span>
                </div>

            </div>
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">علت خروج از تیم</span>
                </div>
                @Html.TextBox("PersonExitFromTeamCause", null, new { @class = "form-control" })
            </div>
            <div class=" col-xs-12 col-sm-6 col-md-1 col-lg-2">
                <div class="input-group">

                    <label for="IsParent" class="btn btn-warning">
                        کاپتان
                        @Html.CheckBox("IsCaptain", new { @class = "", @id = "IsCaptain" })
                        @*<input type="checkbox" data-val="true" id="IsParent" name="IsParent" value="@Model.IsParent" checked="@Model.IsParent" class="badgebox">*@
                        @*<span class="badge bg-white">&check;</span>*@
                    </label>


                </div>
            </div>
            @if (skillType.SkillTypeHasShirtNo)
            {
                <div class="input-group  col-md-4 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">شماره پیراهن</span>
                    </div>
                    @Html.TextBox("PersonTeamDesc", null, new { @class = "form-control" })
                </div>
            }
            @if (skillType.SkillTypeHasExpertise)
            {
                <div class="input-group  col-md-6 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">پست فنی</span>
                    </div>
                    @Html.DropDownList("ExpertiseId", null, new { @class = "form-control" })
                </div>
            }
            @if (skillType.SkillTypeHasBeltColor)
            {
                <div class="input-group  col-md-6 col-sm-12 mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text">رنگ کمربند</span>
                    </div>
                    @Html.DropDownList("BeltColorId", null, new { @class = "form-control" })
                </div>
            }
            <div class="input-group  col-md-4 col-sm-12 mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">توضیحات</span>
                </div>
                @Html.TextBox("PersonTeamDesc", null, new { @class = "form-control" })
            </div>
            <div>

                <button class="btn btn-success btn-sm" type="submit">
                    <span class="fa fa-edit ml-3"></span>ثبت
                </button>

            </div>
        </div>
    </fieldset>

}

